html {
    height: 100%;
}

.bg-custom-2 {
background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 15%, rgba(252,70,107,1) 100%);
}

.body-content {
    padding: 2rem;
}

body {
    background: #06beb6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #48b1bf, #068d84);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #48b1bf, #068d84); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 100%;
    background-repeat: no-repeat;
}

a {
    color: #d6d6c5;
}