{% extends 'base.html' %}


{% block content %}
    <style>

        label {
            display: -webkit-box;
            margin-bottom: .5rem;
        }

        #id_body {
            position: relative;
            z-index: 2;
            height: 200px;
            width: 200%;
            background-color: #393c3d;
            font-size: 12px;
            margin-bottom: 15px;
            padding: 10px 10px;
            color: #ffffff;
            -webkit-transition-duration: 500ms;
            -o-transition-duration: 500ms;
            transition-duration: 500ms;
            border: none;
            border-radius: 0;
        }

        #id_title {
            position: relative;
            z-index: 2;
            height: 48px;
            width: 40%;
            background-color: #393c3d;
            font-size: 12px;
            margin-bottom: 1px;
            padding: 10px 10px;
            color: #ffffff;
            -webkit-transition-duration: 500ms;
            -o-transition-duration: 500ms;
            transition-duration: 500ms;
            border: none;
            border-radius: 0;
        }
    </style>
    <div class="update-form mt-5 ml-3 pt-3" >
        <h1>New Post: </h1>
        <form action="" method="POST" >
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form>
    </div>


{% endblock %}